<form class="row row-cols-sm-auto">
  <div class="col-12">
    <div class="row">
      <div class="col-7">
        {{ labelName }}
      </div>
    </div>
    <div class="input-group">
      <input
        class="form-control"
        size="12"
        placeholder="yyyy-mm-dd"
        name="dp"
        [(ngModel)]="model"
        (ngModelChange)="selectedDate($event)"
        ngbDatepicker
        #d="ngbDatepicker"
      />
      <button
        class="btn btn-outline-secondary calendar"
        (click)="d.toggle()"
        type="button"
      >
        <fa-icon [icon]="faCalender"></fa-icon>
      </button>
    </div>
  </div>
</form>
