<div class="row">
  <div class="col-6">
    <button
      class="btn border-0 shadow-none mx-0"
      id="action-edit-icon"
      (click)="updateDelete('edit')"
    >
      <fa-icon
        [icon]="editButtonIcon"
        [title]="editButtonIconTooltip"
        size="lg"
      ></fa-icon>
    </button>
  </div>
  <div class="col-6">
    <button
      class="btn border-0 shadow-none mx-0"
      id="action-delete-icon"
      (click)="updateDelete('delete')"
    >
      <fa-icon
        [icon]="deleteButtonIcon"
        [title]="deleteButtonIconTooltip"
        size="lg"
      ></fa-icon>
    </button>
  </div>
</div>
