<div class="col">
  <div ngbDropdown>
    <button
      class="btn btn-outline-secondary"
      data-toggle="tooltip"
      data-placement="top"
      [title]="toolTipTitle"
      id="dropdown"
      ngbDropdownToggle
      [ngStyle]="{ width: '190px' }"
    >
      {{ dropDownValue }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdown">
      <button
        ngbDropdownItem
        *ngFor="let item of dropDownValues"
        (click)="onGranularitySelection(item)"
      >
        {{ item }}
      </button>
    </div>
  </div>
</div>
