<div *ngIf="filterGroup" [formGroup]="filterGroup">
  <label class="mb-1" for="category">Choose a category</label>
  <select
    class="form-control"
    type="type"
    id="category"
    formControlName="category"
  >
    <option value="">Select a category</option>
    <option value="food">Food</option>
    <option value="transport">Transport</option>
    <option value="social">Social</option>
    <option value="online">Online</option>
    <option value="other">Other</option>
  </select>
</div>

<div *ngIf="dropDownValues.length > 1">
  <select (change)="getDropDownValue($event)">
    <option *ngFor="let item of dropDownValues" [value]="item">
      {{ item }}
    </option>
  </select>
</div>
