<div class="container ms-0">
  <div class="card justify-content-center">
    <div class="card-header">
      <div id="signup-title-text">Sign Up</div>
      <div>Fill in the following form to sign up</div>
    </div>
    <div class="card-body">
      <form [formGroup]="formGroup" *ngIf="!(isCreated$ | async)">
        <div class="input-group mb-2">
          <input
            id="email-input"
            type="text"
            placeholder="Email"
            class="form-control shadow-none modal-text"
            formControlName="email"
          />
          <div class="input-group-append">
            <span class="input-group-text"
              ><fa-icon (click)="clearInput('email')" [icon]="faCross"></fa-icon
            ></span>
          </div>
        </div>
        <div
          id="valid-email-text"
          *ngIf="
            formGroup.controls['email'].invalid &&
            formGroup.controls['email'].dirty &&
            !formGroup.controls['email'].touched
          "
        >
          <span> Enter a valid email address </span>
        </div>

        <div class="input-group mt-4">
          <input
            id="displayname-input"
            type="text"
            class="form-control shadow-none modal-text"
            placeholder="Display Name"
            formControlName="displayName"
            (keydown.enter)="signUpCallback()"
          />
          <div class="input-group-append">
            <span class="input-group-text"
              ><fa-icon
                (click)="clearInput('displayName')"
                [icon]="faCross"
              ></fa-icon
            ></span>
          </div>
        </div>
        <div *ngIf="error$ | async; let error">
          <div
            class="alert alert-danger alert-dismissible fade show mt-2"
            role="alert"
          >
            {{ error.message }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              (click)="clearForm()"
            ></button>
          </div>
        </div>
        <div *ngIf="showPasswordField">
          <div class="input-group mt-4">
            <input
              id="password-input"
              type="password"
              class="form-control shadow-none modal-text"
              placeholder="Password"
              formControlName="password"
              (keydown.enter)="signUpCallback()"
            />
            <div class="input-group-append">
              <span class="input-group-text"
                ><fa-icon
                  (click)="clearInput('password')"
                  [icon]="faCross"
                ></fa-icon
              ></span>
            </div>
          </div>
        </div>
      </form>
      <div class="text-center modal-text mt-3">
        Already have an account? <em><a href="/home">Log in</a></em>
      </div>
      <div class="alert alert-success fade show" *ngIf="isCreated$ | async">
        You have successfully signed up. Click
        <a href="#" class="alert-link">here</a> to begin!!
      </div>
    </div>
    <div class="card-footer">
      <div *ngIf="!(isLoading$ | async)">
        <button
          mat-flat-button
          color="primary"
          [disabled]="disableSignUpButton"
          (click)="signUpCallback()"
        >
          Sign Up
        </button>
      </div>
      <div class="d-flex justify-content-center">
        <div class="loader" *ngIf="isLoading$ | async"></div>
      </div>
    </div>
  </div>
</div>
