<div *ngIf="monthlyInAndOuts$ | async; let data">
  <app-bar-chart
    [sourceData]="sourceData"
    [showYAxis]="false"
    [showYAxisLabel]="false"
    [showXAxisLabel]="false"
    [customToolTipTemplate]="barChartToolTipRef"
    [colorsCallback]="colors"
    (selected)="onSelection($event)"
  ></app-bar-chart>
</div>

<ng-template #barChartToolTipRef let-model="model">
  <div class="row mx-0 px-0 my-1">
    <div class="col">
      <h4 class="my-0 mx-0" style="color: #233d53; opacity: 50%">
        <strong class="me-1">Click for more info</strong>
        <fa-icon [icon]="infoIcon"></fa-icon>
      </h4>
    </div>
  </div>
</ng-template>
