.mat-raised-button {
  background-color: #005da6;
  color: white;
  font-family: Helvetica;
}

input.ng-invalid {
  border: red 2px solid;
}

select.ng-invalid {
  border: red 2px solid;
}

option[value=""][disabled] {
  display: none;
}

#modal-message-text {
  font-size: large;
  text-align: center;
}
