<div class="modal-header">
  <h2 class="modal-title my-0 mx-0" style="color: #233d53">
    {{ actionSettings?.modalTitle }}
  </h2>

  <button
    class="btn close border-0 shadow-none"
    aria-label="Close"
    (click)="dismissCallBack()"
  >
    <span aria-hidden="true"
      ><fa-icon [icon]="faXmark" size="lg"></fa-icon
    ></span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="formGroup" *ngIf="actionSettings?.showForm">
    <div class="form-floating mb-2" *ngIf="actionSettings?.showAmount">
      <input
        class="form-control shadow-none"
        id="amountInput"
        type="text"
        formControlName="amount"
      />
      <label for="amountInput">Amount</label>
    </div>
    <div class="form-floating mb-2" *ngIf="actionSettings?.showNewCategory">
      <input
        class="form-control shadow-none"
        id="floatingInputValue"
        type="text"
        formControlName="category"
      />
      <label for="floatingInputValue">New Category</label>
    </div>
    <div class="mb-2" *ngIf="actionSettings?.showCategoryDropdown">
      <label
        class="ms-1"
        for="select-category-dropdown"
        style="font-size: smaller; opacity: 0.65"
        >Choose Category</label
      >
      <select
        class="form-control shadow-none"
        formControlName="category"
        id="select-category-dropdown"
      >
        <option
          *ngFor="let category of categories$ | async"
          [ngValue]="category"
        >
          {{ category.name | titlecase }}
        </option>
      </select>
    </div>
    <div class="form-floating mb-2" *ngIf="actionSettings?.showDate">
      <input
        class="form-control shadow-none"
        id="dateInput"
        type="date"
        formControlName="date"
      />
      <label for="amountInput">Date</label>
    </div>
    <div class="form-floating mb-2" *ngIf="actionSettings?.showDescription">
      <input
        class="form-control shadow-none"
        id="descriptionInput"
        type="text"
        formControlName="description"
      />
      <label for="descriptionInput">Description</label>
    </div>
  </form>
  <div id="modal-message-text" style="color: #233d53">
    {{ actionSettings?.message }}
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary crudButton"
    [disabled]="disableOKButton"
    (click)="okCallBack()"
  >
    {{ actionSettings?.okButtonText }}
  </button>
</div>
