.chart-legend .legend-labels {
  background: white !important;
  text-align: center !important;
}

.ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top {
    border-top-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
}

#chart {
  border-top-style: solid !important;
  border-width: 0.1rem;
  border-color: #dadadc;
  height: 20rem;
}
