.resetButton {
  width: 190px;
  background-color: #063a5b;
}

.toggledMovingAverage {
  width: 190px;
  background-color: #063a5b;
}

.unToggledMovingAverage {
  width: 190px;
  color: #063a5b;
  background-color: white;
}

.windowSizeInput {
  width: 190px;
}
