<div>
  <app-dropdown-menu
    [toolTipTitle]="'Select Granularity'"
    [dropDownValues]="dropDownValues"
    [dropDownValue]="initialDropDownValue"
    (newDropDownValue)="dropDownValueChange($event)"
  >
  </app-dropdown-menu>
</div>
<div *ngIf="false">
  <app-date-filter [labelName]="'Start Date'"></app-date-filter>
  <app-date-filter [labelName]="'End Date'"></app-date-filter>
</div>
<div *ngIf="showMovingAverage">
  <button
    type="button"
    data-toggle="tooltip"
    data-placement="top"
    title="Toggle Moving Average"
    class="btn btn-secondary mt-2"
    [ngClass]="
      movingAverageToggled ? 'toggledMovingAverage' : 'unToggledMovingAverage'
    "
    aria-pressed="false"
    (click)="movingAverageButtonClick()"
  >
    Moving Average
  </button>
</div>
<div *ngIf="movingAverageToggled" class="windowSizeInput mt-2">
  <form class="form-floating" [formGroup]="formGroup">
    <input
      class="form-control"
      id="floatingInputValue"
      type="text"
      formControlName="movingAverageWindow"
      value="2"
      (ngModelChange)="onWindowSizeChange()"
    />
    <label for="floatingInputValue">Window Size (Days)</label>
  </form>
</div>
<div>
  <button
    class="btn btn-secondary mt-2 resetButton"
    (click)="resetButtonClick($event)"
  >
    {{ resetText }}
  </button>
</div>
