<div class="row mb-2" id="period-nav-buttons">
  <div *ngFor="let choice of periodChoices" class="col-auto">
    <div class="row">
      <button
        type="button"
        class="btn side-bar-button shadow-none"
        id="side-bar-default-button"
        (click)="onChangePeriodChoice(choice)"
      >
        {{ choice }}
      </button>
    </div>
    <div
      class="row"
      id="toggle-indicator"
      *ngIf="chartPeriodChoice === choice"
    ></div>
  </div>
  <div class="col-auto">
    <div class="mt-2" style="font-size: small; opacity: 0.4">Av.</div>
  </div>
</div>
