.resetButton {
  width: 190px;
  background-color: #063a5b;
  border-radius: 2em;
}

.windowSizeInput {
  width: 190px;
}

.advanced-pie-legend .legend-items-container .legend-items {
  white-space: nowrap;
  overflow: none !important;
}

.btn-group {
  margin-right: 6rem;
}

.side-bar-button {
  border-radius: 0;
  border-right: 0.1rem solid black;
}

.side-button-active {
  color: white;
  background: rgba(6, 58, 91, 0.8);
}

#period-nav-buttons {
  margin-bottom: 8px;
}

#toggle-indicator {
  border-top: 4px solid #315594;
  width: 2rem;
  text-align: left;
}

#side-bar-default-button {
  font-size: small;
}
