.resetButton {
  width: 190px;
  background-color: #063a5b;
  border-radius: 2em;
}

.toggledMovingAverage {
  width: 190px;
  background-color: #063a5b;
  border-radius: 2em;
}

.unToggledMovingAverage {
  width: 190px;
  color: #063a5b;
  background-color: white;
  border-radius: 2em;
}

.windowSizeInput {
  width: 190px;
}

.advanced-pie-legend .legend-items-container .legend-items {
  white-space: nowrap;
  overflow: none !important;
}
