.card-header {
  background-color: #005da6;
  color: white;
}

.crudButton {
  background-color: #063a5b;
  color: white;
  border-radius: 2em;
}

.close {
  outline: none;
}

.grid {
  height: 100%;
}
