.card-header {
  background-color: #005da6;
  color: white;
}

.header {
  font-size: x-large;
  color: #063a5b;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}

.close {
  outline: none;
}

.cardBody {
  height: fit-content;
}

.grid {
  height: 78%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 16rem;
}

#pie-chart-body {
  width: fit-content !important;
}

#chart-side-ba {
  grid-column-end: span 4;
}

#chart-nav-new-dropdown-menu {
  transform: translate(-1em, 2em) !important;
}

#chart-nav-new-dropdown-item:hover {
  background-color: #063a5b;
  color: white;
}

#drop-down-chart-header {
  margin-bottom: 0;
  padding-bottom: 0;
}

#dashboard-panels {
  height: 100%;
}
