<app-header-details [pageTitle]="pageTitle"></app-header-details>
<app-nav-bar></app-nav-bar>
<div class="px-2">
  <div class="card mt-2">
    <div class="card-header">
      <h2 class="mb-0">Expenses Summary</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-7">
          <app-line-chart
            *ngIf="isDailyData"
            [sourceData]="lineData"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [xAxisTicks]="xAxisTicks"
            [legendPosition]="legendPosition"
            [view]="view"
          >
          </app-line-chart>
          <app-bar-chart
            *ngIf="isMonthlyData"
            [sourceData]="barData"
          ></app-bar-chart>
          <div *ngIf="isWeeklyData">Weekly drop selected</div>
        </div>
        <div class="col-2">
          <app-expenses-side-bar
            [showDateSelection]="showDateSelection"
            (resetButton)="resetGraph()"
            (dropDownValue)="dropDownChange($event)"
          ></app-expenses-side-bar>
        </div>
        <div class="col-3">Pie Chart Here</div>
      </div>
      <div class="row">
        <div class="col-7"><app-grid></app-grid></div>
      </div>
    </div>
  </div>
</div>
