$border-radius: 0.5rem;

app-line-chart {
  overflow: hidden;
}

.card-header {
  background-color: #005da6;
  color: white;
  border-radius: $border-radius $border-radius 0 0 !important;
  font-size: large;
}

.card {
  border-radius: $border-radius;
}

.header {
  font-size: x-large;
  color: #063a5b;
}

.close {
  outline: none;
}

.cardBody {
  height: fit-content;
  overflow-x: scroll;
  border-radius: $border-radius;
}

.grid {
  height: 48em;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0.5rem;
}

mat-icon {
  height: 10px;
  width: 10px;
}

#mat-icon-menu {
  color: #063a5b;
}

#panel-list-left {
  padding: 0rem;
}

#pie-chart-body {
  width: fit-content !important;
}

#chart-side-bar {
  grid-column-end: span 4;
}

#hamburger-menu-button {
  background-color: #f8f9fd;
  width: 25px;
  height: 25px;
}

#hamburger-menu-col {
  width: fit-content;
}

#transactions-chart {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
