<app-header-details [pageTitle]="pageTitle"></app-header-details>
<div class="header">Expenses</div>
<div class="px-2 col-12" style="height: 100%">
  <div class="row" id="dashboard-panels">
    <div class="col-7" style="overflow-y: hidden">
      <div class="card mt-2 mx-0 row" id="chart-columm">
        <div class="card-header border-0">Transaction overview</div>
        <div class="container-fluid card-body cardBody shadow">
          <div class="row pt-2">
            <div class="col-12 pr-0">
              <div class="row" id="chart-buttons">
                <div class="col-10 pl-0" id="chart-side-bar" align="center">
                  <app-expenses-side-bar
                    class="pl-0"
                    id="expenses-side-bar"
                    (chartPeriod)="chartPeriodChange($event)"
                  ></app-expenses-side-bar>
                </div>
                <div class="col-2 text-end" id="extra-button-col">
                  <app-chart-drop-down
                    (resetGraph)="resetGraph()"
                  ></app-chart-drop-down>
                </div>
              </div>
              <app-line-chart
                *ngIf="chartData$ | async"
                [sourceData]="chartData$ | async"
                [xAxisTicks]="xAxisTicks"
                [activeEntries]="activeEntries"
                [isLoading]="isLineDataLoading"
                [customToolTipTemplate]="lineChartToolTipRef"
                [customSeriesTooltipTemplate]="lineChartSeriesToolTipRef"
              >
              </app-line-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="grid row">
        <app-expenses-grid class="px-0 shadow"></app-expenses-grid>
      </div>
    </div>
    <div class="col-5">
      <div class="card mt-2 mx-0 row" id="chart-columm">
        <div class="card-header border-0">Category Breakdown</div>
        <div class="container-fluid card-body cardBody shadow">
          <div class="col-12" id="pie-chart" align="center">
            <app-pie-grid-chart
              *ngIf="pieData.length > 0"
              [sourceData]="pieData"
            ></app-pie-grid-chart>
          </div>
        </div>
      </div>
      <div class="card mt-2 mx-0 row" id="chart-columm">
        <div class="card-header border-0">Recent In / Out</div>
        <div class="container-fluid card-body cardBody shadow">
          <div class="col-12" id="monthly-flow-chart">
            <app-net-flow-bar-chart></app-net-flow-bar-chart>
          </div>
        </div>
      </div>
      <div class="card mt-2 mx-0 row" id="chart-columm">
        <div class="card-header border-0" style="opacity: 50%">
          Upcoming transactions
        </div>
        <div
          class="container-fluid card-body cardBody shadow"
          style="opacity: 50%"
        >
          <div class="col-12" id="file-input" align="center">
            This feature is coming soon!!!
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modal>
    <app-expenses-create-modal
      [modal]="modalInstance"
      [modalAction]="modalAction"
    ></app-expenses-create-modal>
  </ng-template>

  <ng-template #lineChartToolTipRef let-model="model">
    <app-expenses-line-chart-tooltip [model]="model">
    </app-expenses-line-chart-tooltip>
  </ng-template>

  <ng-template #lineChartSeriesToolTipRef let-model="model">
    <app-expenses-line-chart-tooltip [model]="model" [isSeriesTooltip]="true">
    </app-expenses-line-chart-tooltip>
  </ng-template>
</div>
