<div
  class="min-vh-100 d-flex justify-content-center"
  id="side-nav-bar"
  *ngIf="user"
>
  <div class="col">
    <div class="row" id="user-logo-banner">
      <img alt="User logo" src="./assets/images/userLogo.png" id="user-image" />
    </div>
    <div class="row" id="user-banner">
      <div id="nav-bar-header-text">{{ user.displayName }}</div>
    </div>
    <hr />

    <div class="row nav-bar-item-button">
      <div
        class="col"
        [ngClass]="
          getRoute().includes('home')
            ? 'nav-link-selected'
            : 'nav-link-unselected'
        "
      >
        <button class="btn shadow-none" (click)="navigate('/home')">
          <div class="row">
            <div class="col-5">
              <fa-icon class="nav-bar-item-icon" [icon]="faHome"></fa-icon>
            </div>
            <div class="col-7 nav-bar-item-text">
              <span>Home</span>
            </div>
          </div>
        </button>
      </div>
    </div>

    <div class="row nav-bar-item-button">
      <div
        class="col"
        [ngClass]="
          getRoute().includes('expenses')
            ? 'nav-link-selected'
            : 'nav-link-unselected'
        "
      >
        <button class="btn shadow-none" (click)="navigate('/expenses')">
          <div class="row" style="padding-left: 0.3rem">
            <div class="col-5" style="width: fit-content">
              <fa-icon class="nav-bar-item-icon" [icon]="faGrid"></fa-icon>
            </div>
            <div class="col-7 nav-bar-item-text">
              <span style="padding-left: 0.3rem">Dashboard</span>
            </div>
          </div>
        </button>
      </div>
    </div>

    <div class="row nav-bar-item-button">
      <div
        class="col"
        [ngClass]="
          getRoute().includes('stocks')
            ? 'nav-link-selected'
            : 'nav-link-unselected'
        "
      >
        <button
          disabled="true"
          class="btn shadow-none"
          (click)="navigate('/stocks')"
        >
          <div class="row">
            <div class="col-5">
              <fa-icon class="nav-bar-item-icon" [icon]="faChart"></fa-icon>
            </div>
            <div class="col-7 nav-bar-item-text">
              <span>Stocks</span>
            </div>
          </div>
        </button>
      </div>
    </div>
    <hr />

    <div class="row nav-bar-item-button">
      <div
        class="col"
        [ngClass]="
          getRoute().includes('settings')
            ? 'nav-link-selected'
            : 'nav-link-unselected'
        "
      >
        <button
          class="btn shadow-none"
          (click)="navigate('/settings')"
          disabled="true"
        >
          <div class="row">
            <div class="col-5">
              <fa-icon class="nav-bar-item-icon" [icon]="faGear"></fa-icon>
            </div>
            <div class="col-7 nav-bar-item-text">
              <span>Settings</span>
            </div>
          </div>
        </button>
      </div>
    </div>

    <div class="row nav-bar-item-button">
      <div class="col" id="nav-sign-out">
        <button class="btn shadow-none" (click)="signOut()">
          <div class="row">
            <div class="col-5">
              <fa-icon class="nav-bar-item-icon" [icon]="faSignOut"></fa-icon>
            </div>
            <div class="col-7 nav-bar-item-text">
              <span>Sign Out</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
