img {
  border-radius: 50%;
  padding: 0%;
  object-fit: cover;
  cursor: pointer;
}

.nav-link-selected {
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
  border-left: 4px solid #fa532e;
  height: 100%;
  text-align: left;
}

.nav-link-unselected {
  color: black;
  opacity: 0.4;
  box-shadow: none;
  width: 100%;
  padding-right: 0px !important;
}

.nav-bar-item-button {
  margin-left: 1px;
  width: 100%;
}

.nav-bar-item-text {
  color: #063a5b;
  font-size: large;
  white-space: nowrap;
}

.nav-bar-item-icon {
  color: #233d53;
}

#nav-sign-out {
  color: #233d53;
  box-shadow: none;
  width: 100%;
}

#side-nav-bar {
  background-color: white;
  color: #063a5b;
  padding-left: 2px;
  box-shadow: 10px 0 15px -10px rgba(0, 0, 0, 0.5);
}

#nav-bar-header-text {
  color: #063a5b;
  font-size: x-large;
  font-family: helvetica;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

#user-photo {
  margin-top: 2rem;
  height: 100px;
  width: 100px;
}

#user-banner {
  text-align: center;
  height: 2.5rem;
}

#user-logo-banner {
  justify-content: center;
}

/* Media Queries*/
@media screen and (max-width: 1200px) {
  #user-banner {
    display: none;
  }

  #user-photo {
    margin-top: 2rem;
    height: 6rem;
    width: 6rem;
  }

  #side-nav-bar {
    width: 17rem;
  }
}
