<div class="container">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"
      ><fa-icon [icon]="faLandmark"></fa-icon> Name</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a
            class="nav-link"
            title="Home"
            [ngClass]="navLinkClass"
            [routerLink]="'/home'"
            ><fa-icon [icon]="faHouse" size="lg"></fa-icon>
            <span class="sr-only"></span
          ></a>
        </li>
        <li class="nav-item">
          <div ngbDropdown id="dropDown">
            <button
              class="nav-link"
              id="expensesDropDown"
              title="Expenses"
              ngbDropdownToggle
            >
              <fa-icon [icon]="faCoins" size="lg"></fa-icon>
            </button>
            <div
              ngbDropdownMenu
              id="expensesMenu"
              aria-labelledby="expensesDropDown"
            >
              <a class="nav-link" [routerLink]="['/expenses']">Summary</a>
              <a class="nav-link" [routerLink]="'/expenses/history'"
                >Historic Data</a
              >
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Stocks"
            ><fa-icon [icon]="faArrow" size="lg"></fa-icon
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Log in"
            ><fa-icon [icon]="faUser" size="lg"></fa-icon
          ></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
