<div
  class="min-vh-100 d-flex justify-content-center"
  id="side-nav-bar"
  *ngIf="user$ | async"
>
  <div class="col">
    <div class="row" id="user-logo-banner">
      <img alt="User logo" src="./assets/images/userLogo.png" id="user-photo" />
    </div>
    <div class="row" id="user-banner">
      <div id="nav-bar-header-text">{{ (user$ | async)?.displayName }}</div>
    </div>
    <hr />

    <div class="row nav-bar-item-button">
      <div
        [ngClass]="
          getRoute().includes('home')
            ? 'nav-link-selected'
            : 'nav-link-unselected'
        "
      >
        <button class="btn shadow-none" (click)="navigate('/home')">
          <div class="row">
            <div class="col-5 nav-bar-item-icon">
              <fa-icon [icon]="faHome"></fa-icon>
            </div>
            <div class="col-7 nav-bar-item-text">
              <span>Home</span>
            </div>
          </div>
        </button>
      </div>
    </div>

    <div class="row nav-bar-item-button">
      <div
        [ngClass]="
          getRoute().includes('expenses')
            ? 'nav-link-selected'
            : 'nav-link-unselected'
        "
      >
        <button class="btn shadow-none" (click)="navigate('/expenses')">
          <div class="row" style="padding-left: 0.3rem">
            <div class="col-5 nav-bar-item-icon" style="width: fit-content">
              <fa-icon [icon]="faGrid"></fa-icon>
            </div>
            <div class="col-7 nav-bar-item-text">
              <span style="padding-left: 0.3rem">Dashboard</span>
            </div>
          </div>
        </button>
      </div>
    </div>

    <div class="row nav-bar-item-button">
      <div
        [ngClass]="
          getRoute().includes('stocks')
            ? 'nav-link-selected'
            : 'nav-link-unselected'
        "
      >
        <button
          disabled="true"
          class="btn shadow-none"
          (click)="navigate('/stocks')"
        >
          <div class="row">
            <div class="col-5 nav-bar-item-icon">
              <fa-icon [icon]="faChart"></fa-icon>
            </div>
            <div class="col-7 nav-bar-item-text">
              <span><s>Stocks</s></span>
            </div>
          </div>
        </button>
      </div>
    </div>
    <hr />

    <div class="row nav-bar-item-button">
      <div
        [ngClass]="
          getRoute().includes((user$ | async)!.displayName)
            ? 'nav-link-selected'
            : 'nav-link-unselected'
        "
      >
        <button
          class="btn shadow-none"
          [routerLink]="['user/', getUserPath(user$ | async), 'profile']"
        >
          <div class="row">
            <div class="col-5 nav-bar-item-icon">
              <fa-icon [icon]="faGear"></fa-icon>
            </div>
            <div class="col-7 nav-bar-item-text">
              <span>Settings</span>
            </div>
          </div>
        </button>
      </div>
    </div>

    <div class="row nav-bar-item-button">
      <div class="col" id="nav-sign-out">
        <button class="btn shadow-none" (click)="signOut()">
          <div class="row">
            <div class="col-5 nav-bar-item-icon">
              <fa-icon [icon]="faSignOut"></fa-icon>
            </div>
            <div class="col-7 nav-bar-item-text">
              <span>Sign Out</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
