.dialog-button {
  color: white;
  font-family: Helvetica;
}

.delete-dialog {
  max-width: 40vw !important;
  background-color: red;
}

#delete-button {
  background-color: #f24c3d;
}

#cancel-button {
  background-color: #dedede;
  color: #000;
}
