<div class="container">
  <div class="loader" *ngIf="isLoggingIn$ | async">
    <mat-spinner [diameter]="70" [strokeWidth]="7"></mat-spinner>
  </div>
  <div
    class="card justify-content-center"
    *ngIf="!(isLoggedIn$ | async) && !(isLoggingIn$ | async)"
  >
    <div class="card-header text-center">
      <div id="login-title-text">Login</div>
      <div>Please enter your email and password</div>
    </div>
    <div class="card-body">
      <div *ngIf="error$ | async; let error">
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          {{ error?.message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            (click)="closeError()"
          ></button>
        </div>
      </div>

      <form [formGroup]="formGroup">
        <div class="input-group mb-2">
          <input
            id="email-input"
            type="text"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            (keydown.enter)="loginCallBack()"
          />
          <div class="input-group-append">
            <span class="input-group-text"
              ><fa-icon (click)="clearInput('email')" [icon]="faCross"></fa-icon
            ></span>
          </div>
        </div>
        <div
          id="valid-email-text"
          *ngIf="
            formGroup.controls['email'].invalid &&
            formGroup.controls['email'].dirty &&
            !formGroup.controls['email'].touched
          "
        >
          <span> Enter a valid email address </span>
        </div>
        <div class="input-group mt-4">
          <input
            id="password-input"
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            (keydown.enter)="loginCallBack()"
          />
          <div class="input-group-append">
            <span class="input-group-text"
              ><fa-icon
                (click)="clearInput('password')"
                [icon]="faCross"
              ></fa-icon
            ></span>
          </div>
        </div>
        <div id="forgot-password-text">
          <a href="#"><em>Forgot password?</em></a>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div>
        <button
          mat-flat-button
          color="primary"
          [disabled]="disableLoginButton"
          (click)="loginCallBack()"
        >
          Login
        </button>
      </div>
      <div class="text-center">
        Don't have an account? <em><a href="/signup">Sign-up</a></em> or
        <em><a href="#">Demo</a></em>
      </div>
    </div>
  </div>
</div>
