<div id="dialog">
  <h2 mat-dialog-title>Monthly Breakdown | {{ title }}</h2>
  <mat-dialog-content class="mat-typography" id="mat-dialog">
    <div
      *ngIf="isLoading$ | async"
      class="d-flex justify-content-center flex-nowrap mt-4"
    >
      <mat-spinner [diameter]="70" [strokeWidth]="7"></mat-spinner>
    </div>

    <div class="row">
      <div class="col-3 offset-1 align-self-center">
        <div class="row" id="in-amount">
          <div class="col-1 px-0">
            <fa-icon [icon]="arrowUpIcon" size="2x"></fa-icon>
          </div>
          <div class="col-11 px-5">
            <h4>£{{ inAmount | number : ".2" }}</h4>
          </div>
        </div>
        <div class="row" id="out-amount">
          <div class="col-1 px-0">
            <fa-icon [icon]="arrowDownIcon" size="2x"></fa-icon>
          </div>
          <div class="col-11 px-5">
            <h4>£{{ outAmount | number : ".2" }}</h4>
          </div>
        </div>
        <div class="row"><hr /></div>
        <div class="row" id="net-amount">
          <div class="col-1 px-0"><h4>Net:</h4></div>
          <div class="col-11 px-5">
            <h4>£{{ inAmount - outAmount | number : ".2" }}</h4>
          </div>
        </div>
      </div>
      <div class="col-8 align-self-center">
        <app-pie-chart
          *ngIf="!(isLoading$ | async)"
          [sourceData]="formatePieData(monthlyBreakdownData)"
          [view]="pieChartSize"
        >
        </app-pie-chart>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="primary"
      cdkFocusInitial
      (click)="onClose()"
    >
      Close
    </button>
  </mat-dialog-actions>
</div>
