mat-dialog-container {
  overflow: hidden;
}

.mat-raised-button {
  background-color: #005da6;
  color: white;
  font-family: Helvetica;
}

#in-amount {
  color: #329932;
}

#out-amount {
  color: #cc0000;
}
