fa-icon {
  padding-right: 0.3rem;
}

.mat-raised-button {
  background-color: #005da6;
  color: white;
}

#in-amount {
  color: #329932;
}

#out-amount {
  color: #cc0000;
}

@media screen and (max-width: 1200px) {
  #dialog-title {
    font-size: 18px;
  }
}
