<div id="dialog">
  <h2 id="dialog-title">Monthly Breakdown | {{ title }}</h2>
  <mat-dialog-content class="mat-typography" id="mat-dialog">
    <div
      *ngIf="isLoading$ | async"
      class="d-flex justify-content-center flex-nowrap mt-4"
    >
      <mat-spinner [diameter]="70" [strokeWidth]="7"></mat-spinner>
    </div>

    <div class="row">
      <div class="col-12 d-flex align-items-start justify-content-center">
        <app-pie-chart
          *ngIf="!(isLoading$ | async)"
          [sourceData]="formatePieData(monthlyBreakdownData)"
          [view]="pieChartSize"
          [showLegend]="false"
        >
        </app-pie-chart>
      </div>
    </div>
    <div class="row">
      <div class="col px-0 d-flex justify-content-center" id="in-amount">
        <fa-icon [icon]="arrowUpIcon" size="1x"></fa-icon>
        £{{ inAmount | number: ".2" }}
      </div>
      <div class="col px-0 d-flex justify-content-center" id="out-amount">
        <fa-icon [icon]="arrowDownIcon" size="1x"></fa-icon>
        £{{ outAmount | number: ".2" }}
      </div>
      <div class="col px-0 d-flex justify-content-center">
        £{{ inAmount - outAmount | number: ".2" }}
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button cdkFocusInitial (click)="onClose()">Close</button>
  </mat-dialog-actions>
</div>
