img {
  border-radius: 50%;
  padding: 0%;
  object-fit: cover;
}

#user-image {
  height: 100px;
  width: 100px;
}

#upload-photo-button {
  background-color: #005da6;
  color: white;
}

#photo-upload {
  margin-left: 3rem;
}

@media screen and (max-width: 1400px) {
  #user-image {
    height: 80px;
    width: 80px;
  }
}
