img {
  border-radius: 50%;
  padding: 0%;
  object-fit: cover;
}

input:disabled {
  opacity: 50%;
}

label {
  color: #063a5b;
  font-size: larger;
}

#user-image {
  height: 100px;
  width: 100px;
}

#upload-photo-button,
#update-details-button {
  background-color: #005da6;
  color: white;
}

#photo-upload {
  margin-left: 3rem;
}

@media screen and (max-width: 1400px) {
  #user-image {
    height: 80px;
    width: 80px;
  }
}
