<div class="col">
  <div class="row mb-5">
    <div class="col-xl-2 col-2">
      <img alt="User logo" [src]="getImage()" id="user-photo" />
    </div>
    <div class="col-xl-7 col-6" id="header-text-col">
      <div class="row" id="heading">My Profile</div>
      <div class="row" id="sub-heading">Update your photo and details</div>
    </div>
    <div class="col-xl-1 col-1 header-button" id="cancel-button-col">
      <button
        mat-flat-button
        class="float-end"
        id="cancel-button"
        [disabled]="disableCancel"
        *ngIf="!(isSaving$ | async)"
        (click)="cancelCallBack()"
      >
        Cancel
      </button>
    </div>
    <div class="col-xl-1 col-1 header-button">
      <button
        mat-flat-button
        class="float-end"
        id="update-details-button"
        [disabled]="disableSave"
        (click)="okCallBack()"
        *ngIf="!(isSaving$ | async)"
      >
        Save
      </button>
      <mat-spinner
        [diameter]="35"
        [strokeWidth]="5"
        *ngIf="isSaving$ | async"
      ></mat-spinner>
    </div>
  </div>
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-xl-1 col-1"></div>
      <div class="col-xl-5 col-5 form-labels">Email</div>
      <div class="col-xl-5 col-5">
        <input
          class="form-control shadow-none mt-1"
          id="emailInput"
          type="text"
          placeholder="Email"
          formControlName="email"
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xl-1 col-1"></div>
      <div class="col-xl-5 col-5 form-labels">Username</div>
      <div class="col-xl-5 col-5">
        <input
          class="form-control shadow-none mt-1"
          id="displayName"
          type="text"
          placeholder="Display Name"
          formControlName="displayName"
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xl-1 col-1"></div>
      <div class="col-xl-5 col-5">
        <div class="form-labels">Your Photo</div>
        <div class="form-sub-labels">Update your photo or delete it.</div>
      </div>
      <div class="col-xl-5 col-5">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-4 pe-0">
            <img alt="User logo" [src]="getImage()" id="user-photo-change" />
          </div>
          <div class="col-xl-7 col-lg-7 col-8 px-0">
            <input
              #csvInput
              hidden="true"
              type="file"
              onclick="this.value=null"
              (change)="uploadImage($event)"
            />
            <button
              class="float-end"
              mat-flat-button
              id="change-photo-buttons"
              (click)="csvInput.click()"
            >
              Upload
            </button>
            <button
              class="float-end"
              mat-flat-button
              id="change-photo-buttons"
              (click)="deleteImage()"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xl-1 col-1"></div>
      <div class="col-xl-5 col-5">
        <div class="form-labels">Person details</div>
      </div>
      <div class="col-xl-5 col-5">
        <div class="row">
          <div class="col-xl-6 col-6">
            <label for="firstNameInput">First Name</label>
            <input
              class="form-control shadow-none"
              id="firstNameInput"
              type="text"
              placeholder="First Name"
              formControlName="firstName"
            />
          </div>
          <div class="col-xl-6 col-6">
            <label for="lastNameInput">Last Name</label>
            <input
              class="form-control shadow-none"
              id="lastNameInput"
              type="text"
              placeholder="Last Name"
              formControlName="lastName"
            />
          </div>
        </div>
      </div>
    </div>
    <hr />
  </form>
</div>
