img {
  border-radius: 50%;
  padding: 0%;
  object-fit: cover;
}

input:disabled {
  opacity: 50%;
}

button:disabled {
  opacity: 50%;
}

label {
  color: #063a5b;
  font-weight: 500;
  font-size: small;
  opacity: 60%;
}

hr {
  opacity: 8%;
}

.form-labels {
  color: #063a5b;
  font-weight: 500;
}

.form-sub-labels {
  color: #063a5b;
}

#heading {
  font-size: x-large;
  margin-bottom: 0.3rem;
  color: #063a5b;
}

#user-photo {
  height: 6.5rem;
  width: 6.5rem;
}

#user-photo-change {
  height: 3rem;
  width: 3rem;
}

#update-details-button {
  background-color: #005da6;
  color: white;
  font-size: small;
  width: 4rem;
}

#change-photo-buttons {
  padding: 0%;
  font-size: small;
  color: #063a5b;
}

#edit-button {
  font-size: small;
  color: #063a5b;
}

#cancel-button {
  background-color: #dedede;
  font-size: small;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#photo-upload {
  margin-left: 3rem;
}

#return-back-button {
  color: #063a5b;
}

#end-of-form-breakline {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1200px) {
  #user-photo {
    height: 80px;
    width: 80px;
  }
}
