<div class="row" *ngIf="isSelectingTransactions">
  <div
    class="col d-flex justify-content-start align-items-center"
    *ngIf="false"
  >
    <button
      id="edit-selected-button"
      class="px-0"
      mat-button
      color="primary"
      [disabled]="selectedItems.size !== 1"
    >
      Edit
    </button>
  </div>
  <div class="col d-flex justify-content-end align-items-center">
    <button
      id="delete-selected-button"
      class="px-0"
      mat-button
      color="warn"
      [disabled]="selectedItems.size < 1"
      (click)="delete()"
    >
      Delete Selected
    </button>
  </div>
</div>
<div class="row scrollable-row" *ngIf="upcomingExpenses$ | async; let items">
  <div class="col-4" *ngFor="let item of items">
    <div
      class="card"
      [ngClass]="{
        'selected-transaction':
          selectedItems.has(item) || !isSelectingTransactions,
        'unselected-transaction': !selectedItems.has(item)
      }"
    >
      <div class="card-body p-0">
        <div
          class="py-1"
          align="center"
          [ngClass]="{
            'outgoing-transaction': item.isOutgoing,
            'incoming-transaction': !item.isOutgoing
          }"
          (click)="selectItem(item)"
        >
          <div class="row">
            <div
              class="col px-0 d-flex justify-content-center align-items-center"
            >
              {{ item.name }}
            </div>
          </div>
          <div
            class="py-1"
            [ngStyle]="{ color: item.isOutgoing ? 'red' : 'green' }"
            align="center"
          >
            {{ item.amount | currency: "GBP" }}
          </div>
        </div>
        <div class="card-footer">
          in {{ getDaysNextTransaction(item.nextDate) }} days
        </div>
      </div>
    </div>
  </div>
</div>
