.header {
  font-size: x-large;
  color: #063a5b;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.item-icon {
  color: #233d53;
}

.item-text {
  color: #063a5b;
  font-size: large;
  white-space: nowrap;
}

.item-delete-text {
  color: #f24c3d;
  font-size: large;
  white-space: nowrap;
}

.item-delete-icon {
  color: #f24c3d;
}

.selected-button {
  background: linear-gradient(
    to right,
    rgba(167, 207, 223, 0) 0%,
    65%,
    #005da6 100%
  );
}

#delete-account-button {
  margin-top: 2rem;
}
