$border-radius: 0.5rem; //place in global css

img {
  border-radius: 50%;
  padding: 0% !important;
  object-fit: cover;
}

.card,
.card-body {
  border-radius: $border-radius;
}

.header {
  font-size: x-large;
  color: #063a5b;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.item-icon {
  color: #233d53;
}

.item-text {
  color: #063a5b;
  font-size: large;
  white-space: nowrap;
}

.item-delete-text {
  color: #f24c3d;
  font-size: large;
  white-space: nowrap;
}

.item-delete-icon {
  color: #f24c3d;
}

.selected-button {
  background: linear-gradient(
    to right,
    rgba(167, 207, 223, 0) 0%,
    65%,
    #005da6 100%
  );
}

#user-photo {
  height: 8rem;
  width: 8rem;
}

#user-name-text {
  color: #063a5b;
}

#delete-account-button {
  margin-top: 2rem;
}

#hamburger-menu-button {
  background-color: #f8f9fd;
  color: #063a5b;
  .material-icons {
    font-size: 2rem;
  }
}

#hamburger-menu-col {
  width: fit-content;
}
