<div class="col" *ngIf="model.series === 'Transactions'">
  <div class="row mx-0 px-0">
    <h4 class="my-0 mx-0 px-0 py-0" style="color: #233d53">
      <strong>Transaction</strong>
      <hr class="my-0 mx-0" style="color: #233d53" />
    </h4>
  </div>
  <div class="row mx-0 px-0">
    <div class="vertical col">
      <h5 class="my-0 ml-0 mr-2 px-0" style="color: #233d53; opacity: 0.4">
        <strong>{{ formatDate(model.name) }}</strong>
      </h5>
      <h4 class="my-0 mx-0" style="color: #233d53">
        <strong>£{{ model.value | number : ".2" }}</strong>
      </h4>
    </div>
  </div>
</div>
<div class="col" *ngIf="model.series === 'MovingAverage'">
  <div class="row mx-0 px-0">
    <h4 class="my-0 mx-0 px-0 py-0" style="color: #233d53">
      <strong>Moving Average</strong>
    </h4>
  </div>
  <div class="row mx-0 px-0">
    <div class="verticalTwo col">
      <h5 class="my-0 ml-0 mr-2 px-0" style="color: #233d53; opacity: 0.4">
        <strong>{{ formatDate(model.name) }}</strong>
      </h5>
      <h4 class="my-0 mx-0" style="color: #fa532e">
        <strong>£{{ model.value | number : ".2" }}</strong>
      </h4>
    </div>
  </div>
</div>

<div class="col" *ngIf="isSeriesTooltip">
  <div class="row mx-0 px-0">
    <h4 class="my-0 py-0" style="color: #233d53">
      <strong>{{ formatDate(model[0].name) }}</strong>
      <hr class="my-0 mx-0" style="color: #233d53" />
    </h4>
  </div>
  <div class="row mx-0 px-0">
    <div class="vertical col">
      <h5 class="my-0 ml-0 mr-2 px-0" style="color: #233d53; opacity: 0.4">
        <strong>Transaction</strong>
      </h5>
      <h4 class="my-0 mx-0" style="color: #233d53">
        <strong>£{{ model[0].value | number : ".2" }}</strong>
      </h4>
    </div>
  </div>
  <div *ngIf="model.length > 1" class="row mx-0 px-0">
    <div class="verticalTwo col">
      <h5 class="my-0 ml-0 mr-2 px-0" style="color: #233d53; opacity: 0.4">
        <strong>Moving Average</strong>
      </h5>
      <h4 class="my-0 mx-0" style="color: #fa532e">
        <strong>£{{ model[1].value | number : ".2" }}</strong>
      </h4>
    </div>
  </div>
</div>
