<div id="bar-chart">
  <ngx-charts-bar-vertical-2d
    [results]="sourceData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [legendPosition]="legendPosition"
    [legendTitle]="legendTitle"
    [scheme]="scheme"
  >
    <ng-template #tooltipTemplate let-model="model" class="tooltip">
      <ng-container
        [ngTemplateOutlet]="customToolTipTemplate"
        [ngTemplateOutletContext]="{ model: model }"
      ></ng-container>
    </ng-template>
  </ngx-charts-bar-vertical-2d>
</div>
