<div>
  <ngx-charts-bar-vertical-2d
    [view]="view"
    [results]="sourceData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [legendPosition]="legendPosition"
    [legendTitle]="legendTitle"
    [scheme]="scheme"
  >
    <ng-template #tooltipTemplate let-model="model" class="tooltip">
      <div class="col">
        <div class="row mx-0 px-0">
          <h4 class="my-0 mx-0 px-0 py-0" style="color: #233d53">
            <strong> {{ model.name }} {{ model.series }}</strong>
            <hr class="my-0 mx-0" style="color: #233d53" />
          </h4>
        </div>
      </div>
      <div class="row mx-0 px-0">
        <div class="vertical col">
          <h5 class="my-0 ml-0 mr-2 px-0" style="color: #233d53; opacity: 0.3">
            <strong>Monthly Amount</strong>
          </h5>
          <h4 class="my-0 mx-0" style="color: #233d53">
            <strong>£{{ model.value | number: ".2" }}</strong>
          </h4>
        </div>
      </div>
      <div class="row mx-0 px-0">
        <div class="verticalTwo col">
          <h5 class="my-0 ml-0 mr-2 px-0" style="color: #233d53; opacity: 0.3">
            <strong>Change</strong>
          </h5>
          <h4 class="my-0 mx-0" style="color: #233d53">
            <strong></strong>
          </h4>
        </div>
      </div>
    </ng-template>
  </ngx-charts-bar-vertical-2d>
</div>
