.chart-legend .legend-labels {
  background: none;
  text-align: center;
}

.ngx-charts .grid-panel.odd rect {
  fill: none !important;
}

#bar-chart {
  border-top-style: solid !important;
  border-width: 0.1rem;
  border-color: #dadadc;
  height: 20rem;
}
