<app-header-details [pageTitle]="pageTitle"></app-header-details>
<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="card center mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col-5">
          <h2 class="mb-0">Full Historic Data</h2>
        </div>
        <div class="col-5"></div>
        <div class="col-2">
          <h3 class="mb-0">Total Spent: £{{ total | number: ".2" }}</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="filterGroup" (submit)="submit($event)">
        <div class="row">
          <div [formGroup]="filterGroup" class="col-3">
            <label class="mb-1" for="startDate">Start Date</label>
            <input
              class="form-control"
              type="date"
              id="startDate"
              name="startDate"
              formControlName="startDate"
            />
          </div>
          <div [formGroup]="filterGroup" class="col-3">
            <label class="mb-1" for="endDate">End Date</label>
            <input
              class="form-control"
              type="date"
              id="endDate"
              name="endDate"
              formControlName="endDate"
            />
          </div>
          <div class="col-4">
            <app-dropdown-menu [filterGroup]="filterGroup"></app-dropdown-menu>
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-success mt-4">Apply</button>
          </div>
          <div class="col-1">
            <button type="reset" class="btn btn btn-danger mt-4">Clear</button>
          </div>
        </div>
      </form>

      <div class="table-responsive mt-2">
        <table class="table" *ngIf="transactionData.length">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Category</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactionData">
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.description }}</td>
              <td>{{ transaction.category | titlecase }}</td>
              <td>£{{ transaction.amount | number: ".2" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
